@import "bootstrap/scss/bootstrap";

.app-bg {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.media-center-row {
    display: flex;
    justify-content: space-around;
}

@include media-breakpoint-up(lg) {
    .media-center-row {
        width: 100%;
    }
}

@include media-breakpoint-between(xs, lg) {
    .media-center-row {
        min-height: 100vh;
        flex-direction: column;
    }
}
