.versus {
    position: absolute;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.red-side {
    top: 0;
    left: 0;
    background-image: linear-gradient( 69.7deg,  rgba(216,81,82,1) 40%, rgba(154,27,69,1) 100.1% );
}

.blue-side {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.animation-versus-close {
    animation-name: versus-close;
}

.animation-versus-open {
    animation-name: versus-open;
}

@include media-breakpoint-up(lg) {
    @keyframes versus-close {
        from {
            width: 0;
        }
        to {
            width: 50%;
        }
    }

    @keyframes versus-open {
        from {
            width: 50%;
        } to {
            width: 0;
        }
    }

    .versus-close-state {
        min-height: 100vh;
        width: 50%;
    }

    .versus-open-state {
        min-height: 100vh;
        width: 0;
    }

    .blue-side {
        top: 0;
        right: 0;
    }
}

@include media-breakpoint-between(xs, lg) {
    @keyframes versus-close {
        from {
            min-height: 0;
        }
        to {
            min-height: 50vh;
        }
    }

    @keyframes versus-open {
        from {
            min-height: 50vh;
        }
        to {
            min-height: 0;
        }
    }

    .versus-close-state {
        width: 100%;
        min-height: 50vh;
    }

    .versus-open-state {
        min-height: 0;
        width: 100%;
    }

    .blue-side {
        bottom: 0;
        left: 0;
    }
}
